<h1>Hello</h1>
<div> <%= @game %> </div>

<div>
  <h1> <%= @last_card %></h1>
</div>


<div class="board">
  <% 1.upto(25) do |num| %>
    <div class="cards card_<%= num %>">
      <img class="card_imgs" src="./images/typhoon_bg.png" alt="card_<%= num %>">
    </div>
  <% end %>

</div>



  <form action="/select_square" method="post" enctype="multipart/form-data">
    <input type="text" name="square_num" value="">
    <button type="submit" name="button">submit</button>
  </form>

<a href="/start">RESTART</a>
