
  <h1 id="header-title">Typhoon</h1>
  <h2>New Game</h2>
<h3>Select options:</h3>

<form class="game_options" action="/create_new_game" method="post">
  <input type="text" name="option_number" value="">
  <button type="submit" name="button">Start</button>
</form>
